body {
    background-color: #f0f0f2;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}
@media (max-width: 700px) {
    div {
        margin: 0 auto;
        width: auto;
    }
}
.score{
      margin-top: 1%;
  margin-bottom: 1%;
  white-space: nowrap;
  color: white;
  border-style: outset;
  border-color: grey;
  border-width: thick;
background-color: rgb(100,76,195);
padding: 10px 23px;
  width: 40px;
  height: 15px;
font-size: 10px;
transform: translate(160px,14px)

}
.true{
 transform: translate(330px, -40px);
 background-color: rgb(63, 191, 63);
}
.false{
 transform: translate(-70px, -40px);
 background-color: rgb(191, 63, 63);
}
.reset{
 transform: translate(167px, -35px);
 background-color: rgb(191, 191, 63);s
}
.display{
   background-color: rgb(220,220,220);
   border-style: double;
   border-color: black;
  position:static;
  top: 55%;
  left: 45%;
  transform: translate(0, 75px);
  font-size: 18px;
  text-align: center;
}
 .ultdiv{
   border-style: double;
   border-color: black;
  position:absolute;
  top: 55%;
  left: 45%;
  transform: translate(-49%, 150px);
  width: 420px;
  height: 130px;
  -webkit-animation: box 6s infinite 0.5s;
  white-space: normal;
 }
.ultdiv button{
  margin-top: 1%;
  margin-bottom: 1%;
  white-space: nowrap;
  color: white;
  border-style: outset;
  border-width: thick;
padding: 10px 23px;
}
.ultdiv button:hover{
  white-space: nowrap;
background-color: rgb(100,125,195);
}
.ultdiv button:active{
border-style: inset;
}
