body {
    background-color: #f0f0f2;
    font-family: -apple-system, system-ui, BlinkMacSystemFont, "Segoe UI", "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;

}
a:link, a:visited {
    color: #38488f;
    text-decoration: none;
}
@media (max-width: 700px) {
    div {
        margin: 0 auto;
        width: auto;
    }
}
.true{
 transform: translate(330px, 10px);
 background-color: rgb(63, 191, 63);
}
.false{
 transform: translate(10px, -44px);
 background-color: rgb(191, 63, 63);
}
.reset{
 transform: translate(170px, -98px);
 background-color: rgb(191, 191, 63);
}
 .ultdiv{
   background-color: rgb(220,220,220);
   border-style: double;
   border-color: black;
  position: absolute;
  top: 55%;
  left: 45%;
  transform: translate(-49%, -150px);
  width: 420px;
  height: 80px;
  -webkit-animation: box 6s infinite 0.5s;
  white-space: normal;
 }
.ultdiv button{
  margin-top: 1%;
  margin-bottom: 1%;
  white-space: nowrap;
  color: white;
  border-style: outset;
  border-width: thick;
padding: 10px 23px;
}
.ultdiv button:hover{
  white-space: nowrap;
background-color: rgb(100,125,195);
}
.ultdiv button:active{
border-style: inset;
}
